.night-mode {
    // Import custom font from Google
    // @import url('https://fonts.googleapis.com/css?family=Raleway');

    $body-bg: hsl(210, 20%, 10%);
    $link-color: hsl(27, 80%, 45%);
    // Override / set color variables
    $gray-100: #212529;
    $gray-200: #343a40;
    $gray-300: #495057;
    $gray-400: #6c757d;
    $gray-500: #adb5bd;
    $gray-600: #ced4da;
    $gray-700: #dee2e6;
    $gray-800: #e9ecef;
    $gray-900: #f8f9fa;
    $white: hsl(210, 20%, 20%);
    $black: hsl(210, 20%, 70%);
    $blue: hsl(211, 100%, 50%);
    $indigo: hsl(262, 90%, 50%);
    purple: hsl(261, 50%, 50%);
    $pink: hsl(333, 79%, 58%);
    $red: hsl(355, 71%, 54%);
    $orange: hsl(28, 99%, 54%);
    $yellow: hsl(34, 100%, 52%);
    $green: hsl(133, 76%, 50%);
    $teal: hsl(163, 73%, 46%);
    $cyan: hsl(189, 88%, 41%);
    $alert-bg-level: -6;
    $alert-border-level: -5;
    $alert-color-level: 7;
    $input-bg: $gray-300;
    @import 'node_modules/bootstrap/scss/bootstrap';
}
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
